.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  .banner {
    width: 100%;
    height: 150px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    margin-bottom: 16px; /* Adjust as needed */
  }